<a class="btn btn-primary font-weight-bold p-2" style="position: absolute; top: 12.5px; left: 12.5px; z-index: 10; background-color: white; border: none; color: red">אגמים</a>
<a href="/users/logout" class="btn btn-primary font-weight-bold p-2" style="position: absolute; top: 12.5px; right: 12.5px; z-index: 10; background-color: white; border: none; color: red">יציאה</a>
<h3 style="color: white; position: absolute; width: 100%; text-align: center; top: 20px; text-shadow: 0.5px 0.5px 4px #000000;"><%= reqqq.user.name %></h3>
<body dir=rtl style="font-family: arial">
  <div class="container" style="z-index: 2">
  <div class="row" style="z-index: 2">
    <div class="col-md-2" style="margin-top: 80px">
      <div class="card card-body shadow-lg">
        <form action="/search" method="POST">
          <div class="form-group">
            <input
              id="address"
              name="address"
              class="form-control"
              placeholder="הזן כתובת"
              required
            />
            <input
              id="username"
              name="username"
              class="form-control"
              type="hidden"
              value="<%= reqqq.user.email %>"
            />
          </div>
          <div class="form-group">
            <p style="text-align: right; font-weight: bold; font-size: 15px;">מרחק החיפוש</p>
            <div style="width: 100%">
              <input class="slider" name="distance" type="range" min="0.1" max="2" value="1" step="0.1" class="slider" id="myRange">
              <p class="text-right km">ק"מ: <span id="demo"></span></p>
              <p class="text-right km">כתובת: <span id="demo2"></span></p>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block" style="background-color: red; border: none">חיפוש</button>
        </form>
        </div>
      </div>


    <div id="tables" class="col-md-8 mb-3" style="margin-top: 30px">
      <div class="card card-body shadow-lg">
        <% if(reqreq.distance != undefined){ %>
    <h4 class="text-center font-weight-bold"><span class="pb-1" style="border-bottom: 1px solid black;"><%= reqreq.address2 %></span></h4>
    <h6 class="text-center font-weight bold" dir=ltr style="margin-top: 10px"><a target="_blank" href="http://www.google.com/maps/place/<%= reqreq.x + ', ' + reqreq.y %>"><%= reqreq.x + ", " + reqreq.y %> <i class="fa fa-map-pin"></a></i></h6>
    <h4 class="text-center font-weight-bold mt-2"><i class="far fa-dot-circle" style="font-size: 20px"></i> <%= reqreq.distance + ' ק"מ' %></h4>

    <h6 class="text-center font-weight bold mt-2">

      <!-- TOTAL BUILDINGS -->
      <i class="fa fa-home" style="font-size: 15px"></i>

      <span class="mr-1 ml-2" style="font-size: 13px">
        <% if(reqreq.distance != undefined){ counter = 0; for(var i =0; i<posts.length; i++){  counter++ }%><%= counter %><% } %>
      </span>

      <!-- TOTAL RESIDENTS -->
      <i class="fa fa-male" style="font-size: 15px"></i>

      <span class="mr-1" style="font-size: 13px">
        <% if(reqreq.distance != undefined){ counter = 0; for(var i =0; i<posts.length; i++){ counter += posts[i].Residents }%><%= counter %><% } %>
      </span>
    </h6>


    <hr>
    <% } %>
    <div class="container">
      <div class="col-md-12">
        <% if(reqreq.distance == undefined){ %>
          <h1 class="text-center font-weight-bolder" style="padding: 40px; padding-bottom: 56px">חיפוש מבנים - ירושלים</h1>
        <% } %>
      <nav>
        <div class="nav nav-tabs justify-content-center d-flex flex-wrap text-center" id="nav-tab" role="tablist">
        <!--<div class="d-flex flex-wrap text-center justify-content-center">-->
          <a class="nav-item nav-link" id="nav-health-tab" data-toggle="tab" href="#nav-health" role="tab" aria-controls="nav-health" aria-selected="false"><div class="m-2 outer">
            <i class="fa fa-clinic-medical logo hmm"></i>
            <h5 class="mt-1 subject">רפואה</h5><h5 class="pt-1 counted"><% if(reqreq.distance != undefined){ counter = 0; for(var i =0; i<posts.length; i++){ if(posts[i].Type == "רפואה"){ counter++}}%><%= counter %><% } %></h6>
          </div></a>
          <a class="nav-item nav-link" id="nav-housing-tab" data-toggle="tab" href="#nav-housing" role="tab" aria-controls="nav-housing" aria-selected="false"><div class="m-2 outer">
            <i class="fa fa-home logo"></i>
            <h5 class="mt-1 subject">דיור</h5><h6 class="pt-1 counted"><% if(reqreq.distance != undefined){ counter = 0; for(var i =0; i<posts.length; i++){ if(posts[i].Type == "דיור"){ counter++}}%><%= counter %><% } %></h6>
          </div></a>
          <a class="nav-item nav-link" id="nav-government-tab" data-toggle="tab" href="#nav-government" role="tab" aria-controls="nav-government" aria-selected="false"><div class="m-2 outer">
            <i class="fa fa-university logo"></i>
            <h5 class="mt-1 subject">ממשלה</h5><h6 class="pt-1 counted"><% if(reqreq.distance != undefined){ counter = 0; for(var i =0; i<posts.length; i++){ if(posts[i].Type == "ממשלה"){ counter++}}%><%= counter %><% } %></h6>
          </div></a>
          <a class="nav-item nav-link" id="nav-education-tab" data-toggle="tab" href="#nav-education" role="tab" aria-controls="nav-education" aria-selected="false"><div class="m-2 outer">
            <i class="fa fa-school logo"></i>
            <h5 class="mt-1 subject">חינוך</h5><h6 class="pt-1 counted"><% if(reqreq.distance != undefined){ counter = 0; for(var i =0; i<posts.length; i++){ if(posts[i].Type == "חינוך"){ counter++}}%><%= counter %><% } %></h6>
          </div></a>
          <a class="nav-item nav-link" id="nav-shopping-tab" data-toggle="tab" href="#nav-shopping" role="tab" aria-controls="nav-shopping" aria-selected="false"><div class="m-2 outer">
            <i class="fa fa-store logo"></i>
            <h5 class="mt-1 subject">מסחר</h5><h6 class="pt-1 counted"><% if(reqreq.distance != undefined){ counter = 0; for(var i =0; i<posts.length; i++){ if(posts[i].Type == "מסחר"){ counter++}}%><%= counter %><% } %></h6>
          </div></a>
          <a class="nav-item nav-link" id="nav-culture-tab" data-toggle="tab" href="#nav-culture" role="tab" aria-controls="nav-culture" aria-selected="false"><div class="m-2 outer">
            <i class="fa fa-vihara logo"></i>
            <h5 class="mt-1 subject">תרבות</h5><h6 class="pt-1 counted"><% if(reqreq.distance != undefined){ counter = 0; for(var i =0; i<posts.length; i++){ if(posts[i].Type == "תרבות"){ counter++}}%><%= counter %><% } %></h6>
          </div></a>
          <a class="nav-item nav-link" id="nav-religion-tab" data-toggle="tab" href="#nav-religion" role="tab" aria-controls="nav-religion" aria-selected="false"><div class="m-2 outer">
            <i class="fa fa-synagogue logo"></i>
            <h5 class="mt-1 subject">דעת</h5><h6 class="pt-1 counted"><% if(reqreq.distance != undefined){ counter = 0; for(var i =0; i<posts.length; i++){ if(posts[i].Type == "דעת"){ counter++}}%><%= counter %><% } %></h6>
          </div></a>
          <a class="nav-item nav-link" id="nav-youth-tab" data-toggle="tab" href="#nav-youth" role="tab" aria-controls="nav-youth" aria-selected="false"><div class="m-2 outer">
            <i class="fa fa-baby logo"></i>
            <h5 class="mt-1 subject">נוער</h5><h6 class="pt-1 counted"><% if(reqreq.distance != undefined){ counter = 0; for(var i =0; i<posts.length; i++){ if(posts[i].Type == "נוער"){ counter++}}%><%= counter %><% } %></h6>
          </div></a>
          <a class="nav-item nav-link" id="nav-other-tab" data-toggle="tab" href="#nav-other" role="tab" aria-controls="nav-other" aria-selected="false"><div class="m-2 outer">
            <i class="fa fa-question logo"></i>
            <h5 class="mt-1 subject">אחר</h5><h6 class="pt-1 counted"><% if(reqreq.distance != undefined){ counter = 0; for(var i =0; i<posts.length; i++){ if(posts[i].Type == "אחר"){ counter++}}%><%= counter %><% } %></h6>
          </div></a>
        </div>
        </div>
      <!--</div>-->

  </div>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade" id="nav-health" role="tabpanel" aria-labelledby="nav-health-tab">

      <% if(reqreq.distance != undefined){ %>
        <h5 style="font-weight: bolder; text-align: center; padding-top: 10px">רפואה</h5>
        <div class="table mt-4">
          <div class="table-header mb-3 p-2">
            <div class="header__item"><a id="name" class="filter__link" style="color: white">מבנה</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">תושבים</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">קומות</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">כניסות</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">כתובת</a></div>
          </div>
        <div class="table-content">
          <% for(var i = 0; i<posts.length; i++){ if(posts[i].Type == "רפואה"){ %>
            <div class="table-row">
              <div class="table-data"><%= posts[i].SubType %></div>
              <div class="table-data"><%= posts[i].Residents %></div>
              <div class="table-data"><%= posts[i].Floors %></div>
              <div class="table-data"><%= posts[i].Entrances %></div>
              <div class="table-data" dir=ltr><a target="_blank" href="http://www.google.com/search?q=<%= posts[i].FullAddress %>"><%= posts[i].FullAddress %></a></div>
            </div>
            <hr>
          <% }} %>
          </div>
        </div>
      <% } %>

    </div>
    <div class="tab-pane fade" id="nav-housing" role="tabpanel" aria-labelledby="nav-housing-tab">

      <% if(reqreq.distance != undefined){ %>
        <h5 style="font-weight: bolder; text-align: center; padding-top: 10px">דיור</h5>
        <div class="table mt-4">
          <div class="table-header mb-3 p-2">
            <div class="header__item"><a id="name" class="filter__link" style="color: white">מבנה</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">תושבים</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">קומות</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">כניסות</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">כתובת</a></div>
          </div>
        <div class="table-content">
          <% for(var i = 0; i<posts.length; i++){ if(posts[i].Type == "דיור"){ %>
            <div class="table-row">
              <div class="table-data"><%= posts[i].SubType %></div>
              <div class="table-data"><%= posts[i].Residents %></div>
              <div class="table-data"><%= posts[i].Floors %></div>
              <div class="table-data"><%= posts[i].Entrances %></div>
              <div class="table-data" dir=ltr><a target="_blank" href="http://www.google.com/search?q=<%= posts[i].FullAddress %>"><%= posts[i].FullAddress %></a></div>
            </div>
            <hr>
          <% }} %>
          </div>
        </div>
      <% } %>

    </div>
    <div class="tab-pane fade" id="nav-government" role="tabpanel" aria-labelledby="nav-government-tab">

      <% if(reqreq.distance != undefined){ %>
        <h5 style="font-weight: bolder; text-align: center; padding-top: 10px">ממשלה</h5>
        <div class="table mt-4">
          <div class="table-header mb-3 p-2">
            <div class="header__item"><a id="name" class="filter__link" style="color: white">מבנה</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">תושבים</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">קומות</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">כניסות</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">כתובת</a></div>
          </div>
        <div class="table-content">
          <% for(var i = 0; i<posts.length; i++){ if(posts[i].Type == "ממשלה"){ %>
            <div class="table-row">
              <div class="table-data"><%= posts[i].SubType %></div>
              <div class="table-data"><%= posts[i].Residents %></div>
              <div class="table-data"><%= posts[i].Floors %></div>
              <div class="table-data"><%= posts[i].Entrances %></div>
              <div class="table-data" dir=ltr><a target="_blank" href="http://www.google.com/search?q=<%= posts[i].FullAddress %>"><%= posts[i].FullAddress %></a></div>
            </div>
            <hr>
          <% }} %>
          </div>
        </div>
      <% } %>

    </div>
    <div class="tab-pane fade" id="nav-education" role="tabpanel" aria-labelledby="nav-education-tab">

      <% if(reqreq.distance != undefined){ %>
        <h5 style="font-weight: bolder; text-align: center; padding-top: 10px">חינוך</h5>
        <div class="table mt-4">
          <div class="table-header mb-3 p-2">
            <div class="header__item"><a id="name" class="filter__link" style="color: white">מבנה</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">תושבים</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">קומות</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">כניסות</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">כתובת</a></div>
          </div>
        <div class="table-content">
          <% for(var i = 0; i<posts.length; i++){ if(posts[i].Type == "חינוך"){ %>
            <div class="table-row">
              <div class="table-data"><%= posts[i].SubType %></div>
              <div class="table-data"><%= posts[i].Residents %></div>
              <div class="table-data"><%= posts[i].Floors %></div>
              <div class="table-data"><%= posts[i].Entrances %></div>
              <div class="table-data" dir=ltr><a target="_blank" href="http://www.google.com/search?q=<%= posts[i].FullAddress %>"><%= posts[i].FullAddress %></a></div>
            </div>
            <hr>
          <% }} %>
          </div>
        </div>
      <% } %>

    </div>
    <div class="tab-pane fade" id="nav-shopping" role="tabpanel" aria-labelledby="nav-shopping-tab">

      <% if(reqreq.distance != undefined){ %>
        <h5 style="font-weight: bolder; text-align: center; padding-top: 10px">מסחר</h5>
        <div class="table mt-4">
          <div class="table-header mb-3 p-2">
            <div class="header__item"><a id="name" class="filter__link" style="color: white">מבנה</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">תושבים</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">קומות</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">כניסות</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">כתובת</a></div>
          </div>
        <div class="table-content">
          <% for(var i = 0; i<posts.length; i++){ if(posts[i].Type == "מסחר"){ %>
            <div class="table-row">
              <div class="table-data"><%= posts[i].SubType %></div>
              <div class="table-data"><%= posts[i].Residents %></div>
              <div class="table-data"><%= posts[i].Floors %></div>
              <div class="table-data"><%= posts[i].Entrances %></div>
              <div class="table-data" dir=ltr><a target="_blank" href="http://www.google.com/search?q=<%= posts[i].FullAddress %>"><%= posts[i].FullAddress %></a></div>
            </div>
            <hr>
          <% }} %>
          </div>
        </div>
      <% } %>

    </div>
    <div class="tab-pane fade" id="nav-culture" role="tabpanel" aria-labelledby="nav-culture-tab">

      <% if(reqreq.distance != undefined){ %>
        <h5 style="font-weight: bolder; text-align: center; padding-top: 10px">תרבות</h5>
        <div class="table mt-4">
          <div class="table-header mb-3 p-2">
            <div class="header__item"><a id="name" class="filter__link" style="color: white">מבנה</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">תושבים</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">קומות</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">כניסות</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">כתובת</a></div>
          </div>
        <div class="table-content">
          <% for(var i = 0; i<posts.length; i++){ if(posts[i].Type == "תרבות"){ %>
            <div class="table-row">
              <div class="table-data"><%= posts[i].SubType %></div>
              <div class="table-data"><%= posts[i].Residents %></div>
              <div class="table-data"><%= posts[i].Floors %></div>
              <div class="table-data"><%= posts[i].Entrances %></div>
              <div class="table-data" dir=ltr><a target="_blank" href="http://www.google.com/search?q=<%= posts[i].FullAddress %>"><%= posts[i].FullAddress %></a></div>
            </div>
            <hr>
          <% }} %>
          </div>
        </div>
      <% } %>

    </div>
    <div class="tab-pane fade" id="nav-religion" role="tabpanel" aria-labelledby="nav-religion-tab">

      <% if(reqreq.distance != undefined){ %>
        <h5 style="font-weight: bolder; text-align: center; padding-top: 10px">דעת</h5>
        <div class="table mt-4">
          <div class="table-header mb-3 p-2">
            <div class="header__item"><a id="name" class="filter__link" style="color: white">מבנה</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">תושבים</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">קומות</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">כניסות</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">כתובת</a></div>
          </div>
        <div class="table-content">
          <% for(var i = 0; i<posts.length; i++){ if(posts[i].Type == "דעת"){ %>
            <div class="table-row">
              <div class="table-data"><%= posts[i].SubType %></div>
              <div class="table-data"><%= posts[i].Residents %></div>
              <div class="table-data"><%= posts[i].Floors %></div>
              <div class="table-data"><%= posts[i].Entrances %></div>
              <div class="table-data" dir=ltr><a target="_blank" href="http://www.google.com/search?q=<%= posts[i].FullAddress %>"><%= posts[i].FullAddress %></a></div>
            </div>
            <hr>
          <% }} %>
          </div>
        </div>
      <% } %>

    </div>
    <div class="tab-pane fade" id="nav-youth" role="tabpanel" aria-labelledby="nav-youth-tab">

      <% if(reqreq.distance != undefined){ %>
        <h5 style="font-weight: bolder; text-align: center; padding-top: 10px">נוער</h5>
        <div class="table mt-4">
          <div class="table-header mb-3 p-2">
            <div class="header__item"><a id="name" class="filter__link" style="color: white">מבנה</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">תושבים</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">קומות</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">כניסות</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">כתובת</a></div>
          </div>
        <div class="table-content">
          <% for(var i = 0; i<posts.length; i++){ if(posts[i].Type == "נוער"){ %>
            <div class="table-row">
              <div class="table-data"><%= posts[i].SubType %></div>
              <div class="table-data"><%= posts[i].Residents %></div>
              <div class="table-data"><%= posts[i].Floors %></div>
              <div class="table-data"><%= posts[i].Entrances %></div>
              <div class="table-data" dir=ltr><a target="_blank" href="http://www.google.com/search?q=<%= posts[i].FullAddress %>"><%= posts[i].FullAddress %></a></div>
            </div>
            <hr>
          <% }} %>
          </div>
        </div>
      <% } %>

    </div>
    <div class="tab-pane fade" id="nav-other" role="tabpanel" aria-labelledby="nav-other-tab">

      <% if(reqreq.distance != undefined){ %>
        <h5 style="font-weight: bolder; text-align: center; padding-top: 10px">אחר</h5>
        <div class="table mt-4">
          <div class="table-header mb-3 p-2">
            <div class="header__item"><a id="name" class="filter__link" style="color: white">מבנה</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">תושבים</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">קומות</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">כניסות</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">כתובת</a></div>
          </div>
        <div class="table-content">
          <% for(var i = 0; i<posts.length; i++){ if(posts[i].Type == "אחר"){ %>
            <div class="table-row">
              <div class="table-data"><%= posts[i].SubType %></div>
              <div class="table-data"><%= posts[i].Residents %></div>
              <div class="table-data"><%= posts[i].Floors %></div>
              <div class="table-data"><%= posts[i].Entrances %></div>
              <div class="table-data" dir=ltr><a target="_blank" href="http://www.google.com/search?q=<%= posts[i].FullAddress %>"><%= posts[i].FullAddress %></a></div>
            </div>
            <hr>
          <% }} %>
          </div>
        </div>
      <% } %>

    </div>
  </div>

</div>
</div>

<div id="searches" class="col-md-2">
  <div class="card card-body shadow-lg" style="margin-top: 13px; text-align: center">
        <p style="text-align: center; font-weight: bold; text-decoration: underline">חיפושים שלי</p>
        <div style="width: 100%">
          <% historyaddress.reverse(); historydistance.reverse(); for(var i = 0; i<9; i++){%>
            <form action="/search2" method="POST">
              <div class="form-group">
                <input
                  id="address"
                  name="address"
                  class="form-control"
                  type="hidden"
                  value="<%= historyaddress[i] %>"
                />
                <input
                  id="distance"
                  name="distance"
                  class="form-control"
                  type="hidden"
                  value="<%= historydistance[i] %>"
                />
                <button type="submit">
                  <p style="font-size: 11px; text-align: right; color:red; font-weight:bold; margin-bottom: 0px"><%= historyaddress[i] %><br><%= historydistance[i] %> ק"מ</p>
                </button>
                <hr>
              </div>
            </form>
          <% } %>
        </div>
  </div>
</div>

</div>
