<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <title>jerusalemGEO</title>
  <style>
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;

*, *:before, *:after {
	box-sizing:border-box;
}

html, body {
	font-family:'Source Sans Pro', sans-serif;
	margin:0;
  padding: 0;
  background-color: red
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: red
}

h1,h2,h3,h4,h5,h6 {
	margin:0;
}

.container {
	max-width: 1000px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
	align-items:center;
  z-index: 3
}

.table {
	width:100%;
	border:1px solid $color-form-highlight;
}

.table-header {
	display:flex;
	width:100%;
	background:red;
	padding:($half-spacing-unit * 1.5) 0;
}

.table-row {
	display:flex;
	width:100%;
	padding:($half-spacing-unit * 1.5) 0;

	&:nth-of-type(odd) {
		background:$color-form-highlight;
	}
}

.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
}

.header__item {
	text-transform:uppercase;
}

.filter__link {
	color:white;
	text-decoration: none;
	position:relative;
	display:inline-block;
	padding-left:$base-spacing-unit;
	padding-right:$base-spacing-unit;

	&::after {
		content:'';
		position:absolute;
		right:-($half-spacing-unit * 1.5);
		color:white;
		font-size:$half-spacing-unit;
		top: 50%;
		transform: translateY(-50%);
	}

	&.desc::after {
		content: '(desc)';
	}

	&.asc::after {
		content: '(asc)';
	}

}

.slider {
  width: 100%; /* Full-width */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.km {
   color: black;
  font-size: 12px;
  font-weight: bold;
  margin: 0px !important
}

.subject {
  font-weight:bold;
}

.logo {
  font-size: 30px;
}

.outer{
  color: black;
  text-decoration: none; /* no underline */
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.outer:hover{
  color: red;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hmm {
  transition: transform 2s ease;
}

.hmmm {
  transition: transform 2s ease;
  display:none;
}

.nav-item, .nav-link {
  padding: 0px
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: red !important;
  border-color: transparent
}

.nav-tabs:hover .nav-item.show:hover .nav-link:hover, .nav-tabs:hover .nav-link.active:hover {
  border-color: transparent
}

.nav-tabs:hover .nav-item.show:hover .nav-link:hover, .nav-tabs:hover .nav-link:hover {
  border-color: transparent
}


  </style>
</head>
<body dir=rtl style="font-family: arial">
  <div class="container" style="z-index: 2">
  <div class="row" style="z-index: 2">
    <div class="col-md-2 mt-5">
      <div class="card card-body shadow-lg">
        <form action="/search" method="POST">
          <div class="form-group">
            <input
              id="address"
              name="address"
              class="form-control"
              placeholder="הזן כתובת"
              required
            />
          </div>
          <div class="form-group">
            <p style="text-align: right">מרחק החיפוש</p>
            <div style="width: 100%">
              <input class="slider" name="distance" type="range" min="0.1" max="2" value="0.1" step="0.1" class="slider" id="myRange">
              <p class="text-right km">ק"מ: <span id="demo"></span></p>
              <p class="text-right km">כתובת: <span id="demo2"></span></p>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block" style="background-color: red; border: none">חיפוש</button>
        </form>
        </div>
      </div>


    <div class="col-md-10 mt-5 mb-5">
      <div class="card card-body shadow-lg">
        <% if(reqreq.distance != undefined){ %>
    <h4 class="text-center font-weight-bold"><span class="pb-1" style="border-bottom: 1px solid black;"><%= reqreq.address2 %></span></h4>
    <h4 class="text-center font-weight-bold mt-2"><i class="far fa-dot-circle" style="font-size: 20px"></i> <%= reqreq.distance + ' ק"ם' %></h4>
    <hr>
    <% } %>
    <div class="container">
      <div class="col-md-5">
      <nav>
        <div class="nav nav-tabs justify-content-center d-flex flex-wrap text-center" id="nav-tab" role="tablist">
        <!--<div class="d-flex flex-wrap text-center justify-content-center">-->
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><div class="m-3 outer">
            <i class="fa fa-clinic-medical logo hmm"></i>
            <h5 class="mt-1 subject">רפואה</h5><h5 class="pt-1"><% counter = 0; for(var i =0; i<posts.length; i++){ if(posts[i].Type == "רפואה"){ counter++}}%><%= counter %></h5>
          </div></a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><div class="m-3 outer housingb">
            <i class="fa fa-home logo"></i>
            <h5 class="mt-1 subject">דיור</h5><h5 class="pt-1"><% counter = 0; for(var i =0; i<posts.length; i++){ if(posts[i].Type == "דיור"){ counter++}}%><%= counter %></h5>
          </div></a>
          <div class="m-3 outer">
            <i class="fa fa-university logo"></i>
            <h5 class="mt-1 subject">ממשלה</h5><h5 class="pt-1"><% counter = 0; for(var i =0; i<posts.length; i++){ if(posts[i].Type == "ממשלה"){ counter++}}%><%= counter %></h5>
          </div>
          <div class="m-3 outer">
            <i class="fa fa-school logo"></i>
            <h5 class="mt-1 subject">חינוך</h5><h5 class="pt-1"><% counter = 0; for(var i =0; i<posts.length; i++){ if(posts[i].Type == "חינוך"){ counter++}}%><%= counter %></h5>
          </div>
          <div class="m-3 outer">
            <i class="fa fa-store logo"></i>
            <h5 class="mt-1 subject">מסחר</h5><h5 class="pt-1"><% counter = 0; for(var i =0; i<posts.length; i++){ if(posts[i].Type == "מסחר"){ counter++}}%><%= counter %></h5>
          </div>
          <div class="m-3 outer">
            <i class="fa fa-vihara logo"></i>
            <h5 class="mt-1 subject">תרבות</h5><h5 class="pt-1"><% counter = 0; for(var i =0; i<posts.length; i++){ if(posts[i].Type == "תרבות"){ counter++}}%><%= counter %></h5>
          </div>
          <div class="m-3 outer">
            <i class="fa fa-synagogue logo"></i>
            <h5 class="mt-1 subject">דעת</h5><h5 class="pt-1"><% counter = 0; for(var i =0; i<posts.length; i++){ if(posts[i].Type == "דעת"){ counter++}}%><%= counter %></h5>
          </div>
          <div class="m-3 outer">
            <i class="fa fa-baby logo"></i>
            <h5 class="mt-1 subject">נוער</h5><h5 class="pt-1"><% counter = 0; for(var i =0; i<posts.length; i++){ if(posts[i].Type == "נוער"){ counter++}}%><%= counter %></h5>
          </div>
          <div class="m-3 outer">
            <i class="fa fa-question logo"></i>
            <h5 class="mt-1 subject">אחר</h5><h5 class="pt-1"><% counter = 0; for(var i =0; i<posts.length; i++){ if(posts[i].Type == "אחר"){ counter++}}%><%= counter %></h5>
          </div>
        </div>
        </div>
      </nav>
      <!--</div>-->


    <!--<nav>
      <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">רפואה</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">דיור</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">ממשלה</a>
      </div>
    </nav>-->

  </div>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

      <% if(reqreq.distance != undefined){ %>
        <div class="table mt-4">
          <div class="table-header mb-3 p-2">
            <div class="header__item"><a id="name" class="filter__link" style="color: white">מבנה</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">תושבים</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">קומות</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">כניסות</a></div>
            <div class="header__item"><a id="name" class="filter__link" style="color: white">כתובת</a></div>
          </div>
        <div class="table-content">
          <% for(var i = 0; i<posts.length; i++){ if(posts[i].Type == "רפואה"){ %>
            <div class="table-row">
              <div class="table-data"><%= posts[i].SubType %></div>
              <div class="table-data"><%= posts[i].Residents %></div>
              <div class="table-data"><%= posts[i].Floors %></div>
              <div class="table-data"><%= posts[i].Entrances %></div>
              <div class="table-data" dir=ltr><%= posts[i].FullAddress %></div>
            </div>
            <hr>
          <% }} %>
          </div>
        </div>
      <% } %>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">1234</div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
  </div>

</div>
</div>
</div>
<!--<canvas class="background"></canvas>-->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script>
    /*window.onload = function() {
      Particles.init({
        selector: '.background',
        speed: 0.1,
        connectParticles: 'false',
        minDistance: '40',
        maxParticles: 500,
        sizeVariations: 3,
        color: '#D3D3D3'
      });
    };*/

    $(document).ready(function(){
      $('.hmm').click(function(){

      });
    });

    var slider = document.getElementById("myRange");
    var valueaddress = document.getElementById("address");

    var output2 = document.getElementById("demo2");
    var output = document.getElementById("demo");

    output.innerHTML = slider.value;
    output2.innerHTML = valueaddress.value;

    slider.oninput = function() {
      output.innerHTML = this.value;
    }

    valueaddress.oninput = function() {
      output2.innerHTML = "<span style='text-decoration: underline'>" + this.value + "</span>" + ", ירושלים";
    }
  </script>
</body>
</html>
